*
{
    margin: 0;
    padding: 0;
}

body
{
    max-width: 80em;
    margin: 1em 10%;

    background-image: url(../images/background.gif);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: top left;
}
#header
{
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
    background-image: url(../images/guitarist.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
}
#navigation
{
    padding-left: 10%;

    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 0;
    background-image: url(../images/navbar.gif);
    background-repeat: repeat-x;
    background-position: bottom left;
}
#navigation ul
{
    overflow: hidden;

    width: 100%;

    border-left-width: .1em;
    border-left-style: solid;
}
#navigation li
{
    display: inline;
}
#navigation li a
{
    display: block;
    float: left;

    padding: .5em 2em;

    border-right: .1em solid;
}
#content
{
    line-height: 1.8em;

    padding: 2em 10%;

    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
}
#about #header
{
    background-image: url(../images/lineup.gif);
}
#photos #header
{
    background-image: url(../images/basshead.gif);
}
#live #header
{
    background-image: url(../images/bassist.gif);
}
#contact #header
{
    background-image: url(../images/drummer.gif);
}
#content img
{
    border-width: .1em;
    border-style: solid;
    outline-width: .1em;
    outline-style: solid;
}
#imagegallery li
{
    display: inline;
}
#slideshow
{
    position: relative;

    overflow: hidden;

    width: 150px;
    height: 150px;
}
img#frame
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    border-width: 0;
    outline-width: 0;
}
img#preview
{
    position: absolute;

    border-width: 0;
    outline-width: 0;
}
dl
{
    overflow: hidden;
}
dt
{
    float: left;
}
dd
{
    float: left;
}
label
{
    display: block;
}
fieldset
{
    border: 0;
}
td
{
    padding: .5em 3em;
}
