/*
* @Author: ybjam
* @Date:   2016-05-08 14:54:58
* @Last Modified by:   ybjam
* @Last Modified time: 2016-05-08 14:54:58
*/
#slideshow{
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
}
#preview{
	position: absolute;
}