/*
* @Author: ybjam
* @Date:   2016-05-10 13:11:05
* @Last Modified by:   ybjam
* @Last Modified time: 2016-05-10 13:11:05
*/
.video-wrapper{
	overflow: hidden;
}

.video-wrapper .controls{
	position: absolute;
	height: 30px;
	width: 30px;
	margin: auto;
	background: rgba(0,0,0,0.5)
}

.video-wrapper button{
	display: block;
	width: 100%;
	border: 0;
	cursor: pointer;
	font-size: 17px;
	color: #fff;
	background: transparent;
}

.video-wrapper button[paused]{
	font-size: 12px;
}